doctype html
html
  head
    title W3.CSS Template
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Tangerine')
    link(rel='stylesheet' href="/css/index.css")
    link(rel='stylesheet' href="/css/3Dflip.css")
    link(rel='stylesheet' href="/css/cardPhotos.css")
    style.
      body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
      .w3-row-padding img {margin-bottom: 12px}
      /* Set the width of the sidebar to 120px */
      .w3-sidebar {width: 120px;background: #222;}
      /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
      #main {margin-left: 120px}
      /* Remove margins from "page content" on small screens */
      @media only screen and (max-width: 600px) {#main {margin-left: 0}}
  
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    block scripts
  body.w3-black
    // Icon Bar (Sidebar - hidden on small screens)
    //- nav.w3-sidebar.w3-bar-block.w3-small.w3-hide-small.w3-center
    //-   a.w3-bar-item.w3-button.w3-padding-large.w3-black(href='#')
    //-     i.fa.fa-home.w3-xxlarge
    //-     p HOME
    //-   a.w3-bar-item.w3-button.w3-padding-large.w3-hover-black(href='#about')
    //-     i.fa.fa-user.w3-xxlarge
    //-     p ABOUT
    //-   a.w3-bar-item.w3-button.w3-padding-large.w3-hover-black(href='#photos')
    //-     i.fa.fa-eye.w3-xxlarge
    //-     p PHOTOS
    //-   a.w3-bar-item.w3-button.w3-padding-large.w3-hover-black(href='#contact')
    //-     i.fa.fa-envelope.w3-xxlarge
    //-     p CONTACT
    // Navbar on small screens (Hidden on medium and large screens)
    #myNavbar.w3-top
      .w3-bar.w3-black.w3-opacity.w3-hover-opacity-off.w3-center.w3-small
        a.w3-bar-item.w3-button(href='#', style='width:25% !important') HOME
        a.w3-bar-item.w3-button(href='#about', style='width:25% !important') ABOUT
        a.w3-bar-item.w3-button(href='#photos', style='width:25% !important') PHOTOS
        a.w3-bar-item.w3-button(href='#contact', style='width:25% !important') CONTACT
    
    block content
    block styles 
    block javascript 